/********** Checkbox style in Service Listing -- --> Add Services **********/

/* From Uiverse.io by KhaledMatalkah */
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    color: #333;
    transition: color 0.3s;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    width: 24px;
    height: 24px;
    border: 2px solid #333;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    transform-style: preserve-3d;
}

.custom-checkbox .checkmark::before {
    content: "\2713";
    font-size: 16px;
    color: transparent;
    transition: color 0.3s, transform 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #333;
    border-color: #333;
    transform: scale(1.1) rotateZ(360deg) rotateY(360deg);
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark::before {
    color: #fff;
}

.custom-checkbox:hover {
    color: #666;
}

.custom-checkbox:hover .checkmark {
    border-color: #666;
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.custom-checkbox input[type="checkbox"]:focus+.checkmark {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

.custom-checkbox .checkmark,
.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    transition: background-color 1.3s, border-color 1.3s, color 1.3s, transform 0.3s;
}











/********** Packages Toggle Switch **********/
/* From Uiverse.io by ClawHack1 */
/* Genel stil */
.toggle-switch-pkg {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
  }
  
  /* Giriş stil */
  .toggle-switch-pkg .toggle-input-pkg {
    display: none;
  }
  
  /* Anahtarın stilinin etrafındaki etiketin stil */
  .toggle-switch-pkg .toggle-label-pkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: #ACACAC;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Anahtarın yuvarlak kısmının stil */
  .toggle-switch-pkg .toggle-label-pkg::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  /* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
  .toggle-switch-pkg .toggle-input-pkg:checked+.toggle-label-pkg {
    background-color: #4CAF50;
  }
  
  .toggle-switch-pkg .toggle-input-pkg:checked+.toggle-label-pkg::before {
    transform: translateX(16px);
  }
  
  /* Light tema */
  .toggle-switch-pkg.light .toggle-label-pkg {
    background-color: #BEBEBE;
  }
  
  .toggle-switch-pkg.light .toggle-input-pkg:checked+.toggle-label-pkg {
    background-color: #9B9B9B;
  }
  
  .toggle-switch-pkg.light .toggle-input-pkg:checked+.toggle-label-pkg::before {
    transform: translateX(6px);
  }
  
  /* Dark tema */
  .toggle-switch-pkg.dark .toggle-label-pkg {
    background-color: #4B4B4B;
  }
  
  .toggle-switch-pkg.dark .toggle-input-pkg:checked+.toggle-label-pkg {
    background-color: #717171;
  }
  
  .toggle-switch-pkg.dark .toggle-input-pkg:checked+.toggle-label-pkg::before {
    transform: translateX(16px);
  }
  